/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff9966,  #8EC038); /* Градиентный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Контейнер формы */
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

/* Заголовок */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Поля ввода */
form p {
    margin-bottom: 15px;
    text-align: left;
}

form input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

form input:focus {
    border-color:  #8EC038;
}

/* Кнопка входа */
button {
    background:  #8EC038;
    color: white;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

button:hover {
    background:  #8EC038;
}

/* Ссылка на регистрацию */
p a {
    color:  #8EC038;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

p a:hover {
    text-decoration: underline;
}