<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pract.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <title>Document</title>
</head>

<body>
    <div class="sayt">
        <div class="navbar">
            <div class="drop">
                <button  class="nav_but"></button>
                <div class="image_main">
                    <img src="/html/proz_pract/images/logo-desktop.png">
                </div>
                <div class="nav-list">
                    <a class="menu" href="pract2.html#menuu">Menu</a>
                    <a class="menu1" href="pract2.html#divl">Delivery</a>
                    <a class="menu1" href="pract2.html#faq">FAQ</a>
                    <a class="menu1" href="pract.html">Contacts</a>
                    <p class="nomer"><img class="en_svg" src="material-symbols_phone-in-talk-rounded (1).svg"alt="">591902883</p>
                </div>
                <p class="en">En<ion-icon name="chevron-down"></ion-icon></p>
                <button class="sign_in"> <img src="Group 10.svg" alt=""> Sign in</button>
            </div>
        </div>
        <div class="blok">
            <p class="terms has-text-centered has-text-white">TERMS AND CONDITIONS</p>
            <div class="iamge1 is-child">
                <img src="3387.png" alt="" height="150.82px" width="225.76px">
            </div>
            <div class="image2">
                <img src="3386-ed4_wide 1.png" alt="" height="102px" width="150.82px">
            </div>
        </div>
        <h1 class="h1 has-text-centered">SERVICE TERMS AND CONDITIONS – Terms of Use Chef Kitchen</h1>
        <div class="state">
            <div class="state1">
                <p class="p1">Effective Date: December 6, 2022</p>
                <p class="p2">
                    Company information:<br>
                    Legal entity: Individual entrepreneur Nikita Mosin<br>
                    Company identity number: 302252210<br>
                    Web address:<a href="www.chef-kitchen.com"> www.chef-kitchen.com</a><br>
                    Contact email:<a href="info@chef-kitchen.com"> info@chef-kitchen.com</a><br>
                    These Terms and Conditions of Use and our Privacy Policy (together, these “Terms”) set forth the terms
                    and conditions on which Chef Kitchen (“Chef<br>
                    Kitchen,” “we” or “us”) offers you access to www.chef-kitchen.com, and all other Chef Kitchen-operated
                    websites and online services, (collectively, the<br>
                    “Website”).
                </p>
            </div>
            <div class="state2">
                <h2 class="h title is-size-4 has-text-black">Acceptance of Terms</h2>
                <p class="p">
                    Before accessing and using the Website, please read these Terms carefully, because they
                    form a legal agreement between Chef Kitchen and you.<br>
                    These terms contain provisions that limit Chef Kitchen’s liability to you.<br>
                    BY USING THE WEBSITE, YOU AFFIRM THAT: <br>
                    YOU HAVE READ AND UNDERSTAND THESE TERMS; <br>
                    YOU WILL COMPLY WITH THE TERMS; AND <br>
                    YOU ARE AT LEAST THE AGE OF LEGAL MAJORITY IN YOUR PLACE OF RESIDENCE AND OTHERWISE LEGALLY
                    COMPETENT TO ENTER INTO CONTRACTS.<br>
                    IF YOU DO NOT AGREE TO ANY OF THESE TERMS, PLEASE DO NOT USE THE WEBSITE.
                </p>
            </div>
            <div class="state3">
                <h3 class="h title is-size-4 has-text-black">Website Usage</h3>
                <p class="p">
                    The Content on the Website is made available for information purposes only. You may
                    display, reformat and print information from the Website for<br>your own personal, non-commercial
                    use
                    only. You may not sell, re-publish, distribute or display any Content or other material from the
                    Website for any<br>other purpose. All such uses are strictly prohibited without our express prior
                    written consent, and such consent may be given or withheld in our<br>discretion. You agree that you
                    will not in any way modify, move, add to, delete from or tamper with any Content or feature of the
                    Website or interfere<br>in any way with its proper functioning. We reserve the right to suspend or
                    terminate access to the Website by anyone who violates these Terms or any<br>applicable law or whose
                    conduct is harmful to the interests of Chef Kitchen, affiliated companies or any third-party
                    licensors. We may take steps to<br>prohibit access and/or use without prior notice to any such user.
                    Please review our privacy policy for information<br>about our use of information collected through
                    the
                    Website.
                </p>
            </div>
            <div class="state4">
                <h3 class="h title is-size-4 has-text-black">Eligibility</h3>
                <p class="p">
                    By using this Website, you represent and warrant that you are of legal age to form a
                    binding contract with Chef Kitchen and meet all of the foregoing<br>eligibility requirements. If you
                    do
                    not meet all of these requirements, you must not access or use the Website.<br>
                    Registration<br>
                    To access this Website or some of the resources offered on this Website, you may be asked to provide
                    registration details. It is a condition of use of this<br>Website that all the details you provide
                    will
                    be correct, current and complete. If Chef Kitchen believes the details are not correct, current or
                    complete,<br>Chef Kitchen has the right to refuse you access to the Website, or any of its
                    resources,
                    and to terminate or suspend your account.
                </p>
            </div>
            <div class="state5">
                <h3 class="h title is-size-4 has-text-black">Security</h3>
                <p class="p">
                    Third-Party Content and Links<br>
                    The Website may contain links to other websites and services, including social media (collectively,
                    “Linked Services”).Chef Kitchen provides links to<br>Linked Services for your convenience only.You
                    access Linked Services at your own risk. Linked Services are not controlled by Chef Kitchen,and
                    Chef<br>Kitchen is not responsible for Linked Services or their content.Linked Services may have
                    different terms and conditions and privacy practices that<br>apply to their use.Unless expressly
                    stated, Chef Kitchen does not endorse any of the Linked Services.Chef Kitchen does not investigate,
                    verify or<br>monitor the Linked Services. Please check the Uniform Resource Locator (URL) address
                    provided in your browser to see if you have moved to another<br>website or service.<br>
                    NEITHER THE PUBLICATION OF THIRD-PARTY CONTENT OR ADVERTISEMENTS ON THE WEBSITE NOR LINKS TO THIRD
                    PARTY WEBSITES<br>CONSTITUTES AN ENDORSEMENT OF THE THIRD-PARTY OR ITS PRODUCTS OR SERVICES BY Chef
                    Kitchen, ANY AFFILIATED COMPANY OR BY ANY<br>OF THEIR RESPECTIVE EMPLOYEES OR AGENTS.</p>
            </div>
            <div class="state6">
                <h3 class="h title is-size-4 has-text-black">Information Privacy and Protection</h3>
                <p class="p">
                    Please make sure that you carefully read the Chef Kit Privacy Policy to learn about the
                    information that Chef Kitchen collects and how we process it.<br>Chef Kitchen reserves the right at
                    all
                    times to disclose any information as Chef Kitchen deems necessary to satisfy any applicable law,
                    regulation, legal<br>process or governmental request, or as otherwise described in the Chef Kitchen
                    Privacy Policy. <br>
                    Chef Kitchen takes reasonable precautions intended to help protect information that we process.
                    Unfortunately, however, no security measure is 100<br>percent secure. We cannot guarantee the
                    security
                    of information processed by us. You are responsible for using the precautions best suited for
                    your<br>
                    intended use of the Website.<br>
                    Any passwords used for this Website are for individual use only. You shall be responsible for the
                    security of your password (if any). Each user who uses<br>your password will be deemed to be
                    authorized
                    by you to access and use the Website. Chef Kitchen shall be entitled to monitor your password and,
                    at<br>its discretion, require you to change it. If you use a password that Chef Kitchen considers
                    insecure, Chef Kitchen will be entitled to require it to be<br>changed and/or terminate your
                    account.<br>
                    Unauthorized access to password-protected areas of the Website is prohibited and may lead to
                    criminal prosecution. You are prohibited from using<br>any services or facilities provided in
                    connection with this Website to compromise security or tamper with system resources or accounts. We
                    may<br>suspend your use of all or part of any of the Website, without notice, if we suspect or
                    detect
                    any breach of security.<br>
                    If you believe that information you provided to Chef Kitchen is no longer secure, or if you discover
                    a security vulnerability in the Website, please<br>contact <a
                        href="info@chef-kitchen.com">info@chef-kitchen.com.</a>
                </p>
            </div>
            <div class="state7">
                <h3 class="h title is-size-4 has-text-black">Copyright and Trademarks</h3>
                <p class="p">
                    All content on the Website, including text, graphics, logos, button icons, images, video clips and
                    audio clips (collectively “Content”), the compilation of<br>the Content (meaning its collection,
                    arrangement and assembly) and all software used on or in the Website are the property of Chef
                    Kitchen or <br> companies with which it is affiliated, or third parties that have licensed Content and
                    software for use on the Website. All Content and software are<br>protected by U.S. and international
                    copyright laws. The names, trademarks, service marks and logos (collectively, “Trademarks”) used and
                    displayed on<br>the Website, including, but not limited to, CHEF KITCHEN are registered or unregistered
                    trademarks of Chef Kitchen, affiliated companies or third<br>parties that have licensed the Trademarks
                    for use on the Website. No license is granted for any further use of any Trademarks. All rights not
                    expressly<br>granted in these Terms are reserved.<br>
                    Linking and Framing<br>
                    Without the prior written permission of Chef Kitchen, you may not link to or frame, or otherwise
                    make it appear that a third party website of is<br>presenting or endorsing any of the Content of the
                    Website, or otherwise incorporate any intellectual property of Chef Kitchen or any of its licensors<br>
                    into another website or other service.</p>
            </div>
            <div class="state8">
                <h3 class="h title is-size-4 has-text-black">Web Store Sales</h3>
                <p class="p">
                    All purchases from the web store at www.chef-kitchen.com are subject to these Terms. If you do not
                    agree to any of these Terms, we will not be able to<br>
                    accept your order.
                </p>
            </div>
            <div class="state9">
                <h3 class="h title is-size-4 has-text-black">Products</h3>
                <p class="p9">
                    Product availability, product descriptions and product prices are subject to change by Chef Kitchen
                    at any time without prior notice. Some product<br>descriptions and product images are provided to Chef
                    Kitchen by its vendors. Chef Kitchen does not independently verify the accuracy of such<br>product
                    descriptions. Chef Kitchen makes commercially reasonable efforts to keep product information
                    current, but some information may be out of<br>date from time to time. Certain weights, measures and
                    similar descriptions are approximate and are provided for convenience only. PRODUCTS ARE<br>NOT FOR
                    RESALE.
                </p>
            </div>
        </div>
        <div class="down_blok">
            <div class="icons">
                <img class="icon1" src="shef-site-logo 2.png" alt="">
                <div class="mes_icon">
                    <img src="Vector (1).png" alt="">
                    <img src="Group 82.png" alt="">
                    <img src="Vector (2).png" alt="">
                </div>
                <p class="chef-kit">Chef Kitchen 2023</p>
            </div>
            <div class="downm">
                <p>Menu</p>
                <p>Delivry</p>
                <p>FAQ</p>
                <p>Contacts</p>
            </div>
            <div class="text3">
                <p>Privacy Policy</p>
                <p>Terms and Conditions</p>
                <p>Terms and Conditions</p>
            </div>
            <div class="downinf">
                <p><img src="Combined Shape.png" alt=""> Tbilisi, Georgia</p>
                <p><img src="phone.png" alt=""> 591902883 (9:00 - 18:00)</p>
                <p><img src="Vector_tit.png" alt=""> info@chef-kitchen.com</p>
                <div class="indinf">
                   <ul>&#8729; Individual entrepreneur Nikita Mosin</ul>
                   <ul>&#8729; Identification Number: 302252210</ul>
                </div>
            </div>
            <div class="down_img">
                <img class="d_img" src="1442.svg" alt="">
            </div>
            <div class="down_img1">
                <img class="d_img1" src="Vector.svg" alt="">
            </div>
        </div>
    </div>
</body>
</html>